*{
	font-family: sans-serif;
}

#top{
list-style: none;
margin:0px;
padding:0px;
float:right;
margin:7px 15px 0 0;
position:absolute;
top:0px;
right:215px;
}

#top2{
list-style: none;
margin:0px;
padding:0px;
float:right;
margin:7px 15px 0 0;
position:absolute;
top:0px;
right:0px;
}

#navbar{height:15%;}

li{
	display:inline;
	padding-right:30px;
	font-size: 10pt;
}

#main{
	display:block;
	text-align: center;
}

img{
	display:block;
	margin:0px auto;
}

footer{background-color:#f2f2f2;;
width: 100%;
height:40px;
position:fixed;
bottom:0px;
border-top: 1px solid #e4e4e4}

#bar{width:531px;}

.button{
	background:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border:1px solid #dcdcdc;
	font-weight: bold;
	border-radius: 2px;
	font-size: 11px;
	margin:16px 8px;
	height:29px;
	min-width: 54px;
}

.icons{
	display:inline;
	opacity: 0.8;
}

.icons:hover{opacity:1.0;}

#gap{
	display:inline-block;
	width: 47%;
    height:1px;}

.icons{width:35px;
height:35px;}

.mid{line-height: 40px;
vertical-align: middle;
color:#666;}

.middle{
color:#404040;}

.mic{
float: right;
width: 29px;
height: 27px;}

#bar{background-image: url('https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/images/mic.gif');
background-position: 507px 2px;
background-repeat: no-repeat;
background-size:19px;
border:1px solid blue;
height:30px;}

.par{line-height: 35px;
vertical-align:center;
padding:0px;
display:inline;
text-decoration: none;}

#toppem{height:50px;
width:100%;}

.toplist{
	padding-right: 15px;
}

.logo{padding-right: 7px;}

a{text-decoration:none}

/***** Global Settings *****/
 
html, body {
border:0;
margin:0;
padding:0;
}
 
body {
font:100%/1.25 Arial, Helvetica, sans-serif;
}
 
/***** Headings *****/
 
h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}
 
h1 {
padding:30px 0 25px 0;
letter-spacing:-1px;
font-size:2em;
}
 
h2 {
padding:20px 0;
letter-spacing:-1px;
font-size:1.5em;
}
 
h3 {
font-size:1em;
font-weight:bold;
}
 
/***** Common Formatting *****/
 
p, ul, ol {
margin:0;
padding:0 0 1.25em 0;
}
 
ul, ol {
padding:0 0 1.25em 2.5em;
}
 
blockquote {
margin:1.25em;
padding:1.25em 1.25em 0 1.25em;
}
 
small {
font-size:0.85em;
}
 
img {
border:0;
}
 
sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}
 
sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}
 
acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}
 
/***** Links *****/

/***** Forms *****/
 
form {
margin:0;
padding:0;
display:inline;
}
 
input, select, textarea {
font:1em Arial, Helvetica, sans-serif;
}
 
textarea {
width:100%;
line-height:1.25;
}
 
label {
cursor:pointer;
}
 
/***** Tables *****/
 
table {
border:0;
margin:0 0 1.25em 0;
padding:0;
}
 
table tr td {
padding:2px;
}
 
/***** Wrapper *****/
 
#wrap {
width:960px;
margin:0 auto;
}
 
/***** Global Classes *****/
 
.clear         { clear:both; }
.float-left    { float:left; }
.float-right   { float:right; }
 
.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }
 
.bold          { font-weight:bold; }
.italic        { font-style:italic; }
.underline     { border-bottom:1px solid; }
.highlight     { background:#ffc; }
 
.wrap          { width:960px;margin:0 auto; }
 
.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }
 
.nopadding     { padding:0; }
.noindent      { margin-left:0;padding-left:0; }
.nobullet      { list-style:none;list-style-image:none; }

a:hover{text-decoration: underline;}
